<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button class="btn" routerLink="/">На головну</button>
    </div>

    <div class="info">
        <strong>Autor</strong>
        <small>22.03.23</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quam at quas quisquam, commodi beatae iure deserunt ipsum, quaerat impedit dolorem! Velit beatae nam illum iste eligendi dolore molestiae quis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quam at quas quisquam, commodi beatae iure deserunt ipsum, quaerat impedit dolorem! Velit beatae nam illum iste eligendi dolore molestiae quis!</p>        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quam at quas quisquam, commodi beatae iure deserunt ipsum, quaerat impedit dolorem! Velit beatae nam illum iste eligendi dolore molestiae quis!</p>        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quam at quas quisquam, commodi beatae iure deserunt ipsum, quaerat impedit dolorem! Velit beatae nam illum iste eligendi dolore molestiae quis!</p>
    </div>
</div>