.navbar {
    display: flex;
    justify-content: space-between;
    background-color: brown;
    height: 45px;
}

.navbar-list {
    display: flex;
}

.navbar-list li {
    display: flex;
    list-style-type: none;  
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 13px 15px;
    vertical-align: sub;
    transition: .3s linear;
}

.navbar a:hover {
    color: black;
    box-shadow: rgba(0, 0, 0, 0.3) 18px 9px 38px, rgba(0, 0, 0, 0.22) 0px 6px 16px
}